.App {
  text-align: center;
}

.App-logo {
  height: 70vmin;
  pointer-events: none;
  margin-top: -150px
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 40s linear;*/
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.separation {
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  width: 100%;
  width: calc(100% + 60px);
  margin-left: -30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.page {
  margin: 30px;
}

.startbutton[disabled=""] {
  background-color: #aaaaaa;
}

.startbutton[disabled=""]:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  background-color: #aaaaaa;
}


.stopbutton[disabled=""] {
  background-color: #aaaaaa;
}

.stopbutton[disabled=""]:hover {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  background-color: #aaaaaa;
}

.startbutton {
  float: left;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}

.startbutton:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #6ecf61
}

.stopbutton {
  background-color: #ea3b3b; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  cursor: pointer;
}

.stopbutton:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  background-color: #DA1F40
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fadeIn {animation: 2s fadein}
.fadeOut {animation: 2s fadeout}
@keyframes fadein {  to {opacity: 1;} }
@keyframes fadeout {  to {opacity: 0;} }

.gears {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 100px;
}

.blink {
  color: cyan;
  animation: blinker 1s infinite;

}

@keyframes blinker {
  100% {
    opacity: 0;
  }
}

#front-title {
  font-family: 'Dyuthi';
  font-size: 130%;
}

#stylish {
  color: "cyan";
}

.questions {
}

.question-left {
  position: relative;
  font-size: 200%;
  text-align: left;
  padding: 40px;
}

.question-right {
  position: relative;
  font-size: 200%;
  text-align: right;
  padding: 40px;
}

.page p {
  padding-left: 50px;
  padding-right: 50px;
  text-align: justify;

}



@font-face {
    font-family: 'Dyuthi';
    src: url('../fonts/Dyuthi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
