body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #04AA6D;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {float: none;}
}

#logo {
  font-family: Dyuthi;
  font-size: 120%;
}

#cyan {
  color: #00FFFF;
}


@font-face {
    font-family: 'Dyuthi';
    src: url('../fonts/Dyuthi-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
